* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

header {
  background-color: #000f2c;
  padding: 1rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: #238cac 0px -5px 30px;
}

nav a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s;
}

nav {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

nav a:hover {
  color: #08a5e8;
}

#btnTicket {
    background-color: #08a5e8;
    color: #ffffff;
}

#btnTicket:hover {
  background-color: #096a94;
  color: #ffffff;
}

/* === Home === */
#home {
  min-height: 100vh;
  background-color: #001720;
  padding: 3rem 4.5rem;
}

.left-hero {
  max-width: 500px;
}

.left-hero h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0.1rem;
  margin-bottom: 0.8rem;
}

.sea {
  color: #08a5e8;
}

.left-hero p {
  color: #ffffff;
  font-weight: 500;
  max-width: 450px;
  margin-bottom: 1.7rem;
}
