* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* === Navigation === */
header {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  align-items: center;
}

nav a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s;
}

nav {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

nav a:hover {
  color: #08a5e8;
}

#btnTicket {
  background-color: #08a5e8;
  color: #ffffff;
  padding: 0.4rem 1.5rem;
}

#btnTicket:hover {
  background-color: #096a94;
  color: #ffffff;
}

/* === Home === */
#home {
  min-height: 100vh;
  background:
    linear-gradient(
      to right,
      rgba(0, 10, 30, 0.9) 5%,
      rgba(0, 20, 50, 0.6) 45%,
      rgba(0, 0, 0, 0.1) 60%
    ),
    url("assets/aquarium.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 180px 140px 80px;
}

.left-hero {
  max-width: 500px;
}

.left-hero h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0.1rem;
  margin-bottom: 0.8rem;
}

.sea {
  color: #08a5e8;
}

.left-hero p {
  color: #ffffff;
  font-weight: 500;
  max-width: 450px;
  margin-bottom: 1.7rem;
}

/* === Section === */
.section-label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #08a5e8;
  margin-bottom: 0.3rem;
}

.section-desc {
  font-size: 2rem;
  font-weight: 700;
  color: #065679;
  margin-bottom: 2rem;
}

/* === About === */
#about {
  padding: 180px 80px 80px;
  gap: 3rem;
  min-height: 100vh;
  text-align: center;
}

.fill-abt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.left-img img {
  border-radius: 10px;
}

.right-desc {
  /* max-width: 400px; */
}

.right-desc h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-align: left;
}

.right-desc p {
  font-weight: 500;
  max-width: 450px;
  margin-bottom: 1.7rem;
  text-align: left;
}

.icon {
  width: 50px;
  height: 50px;
}

/* === Animals === */
#animals {
  padding: 180px 80px 80px;
  gap: 3rem;
  min-height: 100vh;
  text-align: center;
}

.card-animals {
  position: relative;
  width: 300px;
  height: 190px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #065679;
}

.card-animals::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,.8),
        rgba(0,0,0,.2),
        transparent
    );
    z-index: 1;
}

.card-animals img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animals-desc {
  position: absolute;
  bottom: 2px;
  left: 20px;
  color: white;
  z-index: 2;
  text-align: start;
  max-width: 200px;
}

#animals .container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

/* === Activity === */
#activity {
  padding: 180px 80px 80px;
  gap: 3rem;
  min-height: 100vh;
  text-align: center;
}

#activity .container {
  display: flex;
  justify-content: center;
}

.card-activity {
  position: relative;
  width: 350px;
  overflow: visible;
  border-radius: 20px;
  box-shadow: 0 0.1px 3px rgb(87, 167, 199);
  padding: 60px 0 0;
}

.activity-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #1e90ff;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-desc p {
  font-size: 0.9rem;
  min-height: 100px;
}

.card-activity img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}